#textSpace {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 1%;
    margin: 1%;
    height: 205px;
    width: 315px;
}

#game-stats {
    width: 200px;

}

/*
below is styling for the clickable board
*/

#clickBoard {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;

}

#currentPlayerColor {
    min-width: 3em;
    min-height: 1em;
    background-color: #608733;
}

.player-1 {
    background-color: #608733;
}

.player-2 {
    background-color: #2a9d8f;
}

.square {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    margin: 5px, 5px, 0px, 5px;
    text-align: center;
    position: relative;
    align-items: center;
}

.square svg path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 5;
    /**puts this in front of everything***/
}

.seedA {
    fill: #608733;
}

.seedA:hover {
    opacity: 0.5;
}

.seedB {
    fill: #2a9d8f;
}

.seedB:hover {
    opacity: 0.5;
}

.treeA {
    fill: #608733;
}

.treeB {
    fill: #2a9d8f;
}



.desert {
    fill: #432818;
}

.empty {
    opacity: 0.2;
}

#clickBoard-Input {
    display: flex;
    flex-direction: row;
    align-items: center;
}