#textSpace {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 1%;
    margin: 1%;
    height: 205px;
    width: 315px;
}

#interactive-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-game-stats {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#game-stats-p1 {
    max-width: 400px;
    color: #608733;
}

#game-stats-p2 {
    max-width: 400px;
    color: #2a9d8f;
}

/*
below is styling for the clickable board
*/

#clickBoard {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;

}

#currentPlayerColor {
    min-width: 3em;
    min-height: 1em;
    background-color: #608733;
}

.player-1 {
    fill: #608733;
}

.player-2 {
    fill: #2a9d8f;
}

.square {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    margin: 5px, 5px, 0px, 5px;
    text-align: center;
    position: relative;
    align-items: center;
}

.square svg path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 5;
    /**puts the piece in front of everything***/
}

.seed {
    opacity: 0.75;
}

.seed:hover {
    opacity: 0.5;
}

.root {
    opacity: 0.9;
}

.tree {
    opacity: 1.5;
}



.desert {
    fill: #432818;
}

.empty {
    opacity: 0.2;
}

#clickBoard-Input {
    display: flex;
    flex-direction: row;
    align-items: center;
}